<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Meal</key>
	<array>
		<dict>
			<key>MealCode</key>
			<integer>1</integer>
			<key>NameMeal</key>
			<string>TOMATO BRUSCHETTA</string>
			<key>Total</key>
			<string>100.000đ</string>
			<key>RestaurantCode</key>
			<integer>0</integer>
			<key>URL</key>
			<string>https://www.simplyrecipes.com/wp-content/uploads/2014/08/bruschetta-tomato-basil-horiz-a-1600.jpg</string>
		</dict>
		<dict>
			<key>MealCode</key>
			<integer>2</integer>
			<key>NameMeal</key>
			<string>CREAM OF GREEN BEAN SOUP</string>
			<key>Total</key>
			<string>75.000đ</string>
			<key>RestaurantCode</key>
			<integer>0</integer>
			<key>URL</key>
			<string>http://nourishedkitchen.com/wp-content/uploads/2016/04/bean-and-vegetable-soup-3-1.jpg</string>
		</dict>
		<dict>
			<key>MealCode</key>
			<integer>3</integer>
			<key>NameMeal</key>
			<string>ROASTED DUCK BREAST WITH ORANGE GLAZE</string>
			<key>Total</key>
			<string>125.000đ</string>
			<key>RestaurantCode</key>
			<integer>0</integer>
			<key>URL</key>
			<string>http://3.bp.blogspot.com/-xbR8kdQcE7o/Tpz1PYh9TfI/AAAAAAAAENE/traFuMtSKcs/s1600/DuckWithOrangeGlaze-1531.jpg</string>
		</dict>
		<dict>
			<key>Total</key>
			<string>200.000đ</string>
			<key>NameMeal</key>
			<string>Vịt thui rơm hấp khay nóng</string>
			<key>MealCode</key>
			<integer>1</integer>
			<key>RestaurantCode</key>
			<integer>1</integer>
			<key>URL</key>
			<string>https://lamthenao.com/uploads/2016/07/cach-lam-mon-vit-nau-gia-cay-5.jpg</string>
		</dict>
		<dict>
			<key>Total</key>
			<string>125.000đ</string>
			<key>NameMeal</key>
			<string>Tôm chiên muối tiêu</string>
			<key>MealCode</key>
			<integer>2</integer>
			<key>RestaurantCode</key>
			<integer>1</integer>
			<key>URL</key>
			<string>http://hieuhaisan.com/contents_hieuhaisan/uploads/images/tom-su-nuong-muoi-ot-hhs.jpg</string>
		</dict>
		<dict>
			<key>Total</key>
			<string>350.000đ</string>
			<key>NameMeal</key>
			<string>Bò nướng OLD Hà Nội</string>
			<key>MealCode</key>
			<integer>3</integer>
			<key>RestaurantCode</key>
			<integer>1</integer>
			<key>URL</key>
			<string>https://images.foody.vn/res/g3/29666/s180x180/foody-xuan-xuan-47-ma-may-280-635943552941290610.jpg</string>
		</dict>
		<dict>
			<key>Total</key>
			<string>450.000đ</string>
			<key>NameMeal</key>
			<string>Bò Hầm</string>
			<key>MealCode</key>
			<integer>1</integer>
			<key>RestaurantCode</key>
			<integer>2</integer>
			<key>URL</key>
			<string>http://toinayangi.vn/wp-content/uploads/2014/11/thit-bo-ham-khoai-tay-1.jpg</string>
		</dict>
		<dict>
			<key>Total</key>
			<string>250.000đ</string>
			<key>NameMeal</key>
			<string>Mực Xào Bean</string>
			<key>MealCode</key>
			<integer>2</integer>
			<key>RestaurantCode</key>
			<integer>2</integer>
			<key>URL</key>
			<string>https://vcdn-ngoisao.vnecdn.net/2017/09/25/mxtc-1-2430-1506304522.jpg</string>
		</dict>
		<dict>
			<key>Total</key>
			<string>325.000đ</string>
			<key>NameMeal</key>
			<string>Cánh gà sốt me</string>
			<key>MealCode</key>
			<integer>3</integer>
			<key>RestaurantCode</key>
			<integer>2</integer>
			<key>URL</key>
			<string>https://pastaxi-manager.onepas.vn/content/uploads/articles/cach-lam-canh-ga-sot-me/cach-lam-canh-ga-xot-me-8.jpg</string>
		</dict>
		<dict>
			<key>Total</key>
			<string>50.000đ</string>
			<key>NameMeal</key>
			<string>Phở Hà Nội</string>
			<key>MealCode</key>
			<integer>1</integer>
			<key>RestaurantCode</key>
			<integer>3</integer>
			<key>URL</key>
			<string>https://images.foody.vn/res/g23/228947/prof/s640x400/foody-mobile-c2-jpg-748-635968566033229535.jpg</string>
		</dict>
		<dict>
			<key>Total</key>
			<string>40.000đ</string>
			<key>NameMeal</key>
			<string>Chả cá</string>
			<key>MealCode</key>
			<integer>2</integer>
			<key>RestaurantCode</key>
			<integer>3</integer>
			<key>URL</key>
			<string>http://www.savourydays.com/wp-content/uploads/2012/09/ChaCaMuc1.jpg</string>
		</dict>
		<dict>
			<key>Total</key>
			<string>750.000đ</string>
			<key>NameMeal</key>
			<string>Lẩu mắm U Minh</string>
			<key>MealCode</key>
			<integer>3</integer>
			<key>RestaurantCode</key>
			<integer>3</integer>
			<key>URL</key>
			<string>https://thuonghieuvietnoitieng.vn/upload_images/images/l%E1%BA%A9u%20m%E1%BA%AFm%20(1).jpg</string>
		</dict>
		<dict>
			<key>Total</key>
			<string>100.000đ</string>
			<key>NameMeal</key>
			<string>Bánh tằm bì</string>
			<key>MealCode</key>
			<integer>1</integer>
			<key>RestaurantCode</key>
			<integer>4</integer>
			<key>URL</key>
			<string>https://images.foody.vn/res/g1/3155/prof/s640x400/foody-mobile-banh-tam-bi-to-chau.jpg</string>
		</dict>
		<dict>
			<key>Total</key>
			<string>75.000đ</string>
			<key>NameMeal</key>
			<string>Bánh cóng</string>
			<key>MealCode</key>
			<integer>2</integer>
			<key>RestaurantCode</key>
			<integer>4</integer>
			<key>URL</key>
			<string>https://images.foody.vn/res/g66/655555/prof/s640x400/foody-mobile-foody-mobile-banh_co-674-636289841158289065.jpg</string>
		</dict>
		<dict>
			<key>Total</key>
			<string>300.000đ</string>
			<key>NameMeal</key>
			<string>Vịt nấu chao</string>
			<key>MealCode</key>
			<integer>3</integer>
			<key>RestaurantCode</key>
			<integer>4</integer>
			<key>URL</key>
			<string>https://anh.24h.com.vn/upload/3-2017/images/2017-08-12/1502550487-112542-303404-vit-nau-chao-tai-nha-hang-xoay-body-2.jpg</string>
		</dict>
		<dict>
			<key>Total</key>
			<string>35.000đ</string>
			<key>NameMeal</key>
			<string>Bún cá Long Xuyên</string>
			<key>MealCode</key>
			<integer>1</integer>
			<key>RestaurantCode</key>
			<integer>5</integer>
			<key>URL</key>
			<string>http://odacsan.com/wp-content/uploads/2014/10/bun_ca_kien_giang.jpg</string>
		</dict>
		<dict>
			<key>Total</key>
			<string>40.000đ</string>
			<key>NameMeal</key>
			<string>Hủ tiếu Mỹ Tho</string>
			<key>MealCode</key>
			<integer>2</integer>
			<key>RestaurantCode</key>
			<integer>5</integer>
			<key>URL</key>
			<string>https://znews-photo-td.zadn.vn/w660/Uploaded/NokaRW/2015_10_20/hu_tieu_1.jpg</string>
		</dict>
		<dict>
			<key>Total</key>
			<string>50.000đ</string>
			<key>NameMeal</key>
			<string>Cơm tấm</string>
			<key>MealCode</key>
			<integer>3</integer>
			<key>RestaurantCode</key>
			<integer>5</integer>
			<key>URL</key>
			<string>https://daotaobeptruong.vn/images/cach_lam_nuoc_mam_an_com_tam.jpg</string>
		</dict>
		<dict>
			<key>Total</key>
			<string>300.000đ</string>
			<key>NameMeal</key>
			<string>Chả giò</string>
			<key>MealCode</key>
			<integer>1</integer>
			<key>RestaurantCode</key>
			<integer>6</integer>
			<key>URL</key>
			<string>http://www.monngon.tv/uploads/images/2017/05/11/80606cde1a5d9092e21f2f7f4fa2d047-cach-lam-cha-gio-tom-thit-bam-slide.jpg</string>
		</dict>
		<dict>
			<key>Total</key>
			<string>135.000đ</string>
			<key>NameMeal</key>
			<string>Gỏi cuốn</string>
			<key>MealCode</key>
			<integer>2</integer>
			<key>RestaurantCode</key>
			<integer>6</integer>
			<key>URL</key>
			<string>https://images.foody.vn/res/g10/93969/prof/s576x330/foody-mobile-hmb-gcuon-1-jpg-635466521952288548.jpg</string>
		</dict>
		<dict>
			<key>Total</key>
			<string>65.000đ</string>
			<key>NameMeal</key>
			<string>Bánh khọt</string>
			<key>MealCode</key>
			<integer>3</integer>
			<key>RestaurantCode</key>
			<integer>6</integer>
			<key>URL</key>
			<string>https://www.bepgiadinh.com/wp-content/uploads/2010/07/18/banh-khot.jpg</string>
		</dict>
		<dict>
			<key>Total</key>
			<string>45.000đ</string>
			<key>NameMeal</key>
			<string>Bánh bèo bì</string>
			<key>MealCode</key>
			<integer>1</integer>
			<key>RestaurantCode</key>
			<integer>7</integer>
			<key>URL</key>
			<string>https://kenh14cdn.com/Uploaded/Share/2010/07/13/130710doisongbanhbeobi4.jpg</string>
		</dict>
		<dict>
			<key>Total</key>
			<string>85.000đ</string>
			<key>NameMeal</key>
			<string>Bánh canh Trảng Bàng</string>
			<key>MealCode</key>
			<integer>2</integer>
			<key>RestaurantCode</key>
			<integer>7</integer>
			<key>URL</key>
			<string>https://images.foody.vn/res/g2/17302/prof/s576x330/foody-mobile-t1-jpg-593-636127445203788862.jpg</string>
		</dict>
		<dict>
			<key>Total</key>
			<string>115.000đ</string>
			<key>NameMeal</key>
			<string>Canh atiso hầm giò lợn</string>
			<key>MealCode</key>
			<integer>3</integer>
			<key>RestaurantCode</key>
			<integer>7</integer>
			<key>URL</key>
			<string>http://sohatravel.vn/image/data/tin-tuc/am-thuc/Gio-heo-ham-Atiso-1-1.jpg</string>
		</dict>
		<dict>
			<key>Total</key>
			<string>135.000đ</string>
			<key>NameMeal</key>
			<string> Phở khô (Gia Lai)</string>
			<key>MealCode</key>
			<integer>1</integer>
			<key>RestaurantCode</key>
			<integer>8</integer>
			<key>URL</key>
			<string>https://images.foody.vn/res/g2/19077/prof/s576x330/foody-mobile-1f07govs-jpg-705-635993316411289175.jpg</string>
		</dict>
		<dict>
			<key>Total</key>
			<string>625.000đ</string>
			<key>NameMeal</key>
			<string>Gà nướng KonPlông</string>
			<key>MealCode</key>
			<integer>2</integer>
			<key>RestaurantCode</key>
			<integer>8</integer>
			<key>URL</key>
			<string>http://odacsan.com/wp-content/uploads/2014/10/jof1392348630.jpg</string>
		</dict>
		<dict>
			<key>Total</key>
			<string>1.125.000đ</string>
			<key>NameMeal</key>
			<string>Lẩu thả (Bình Thuận)</string>
			<key>MealCode</key>
			<integer>3</integer>
			<key>RestaurantCode</key>
			<integer>8</integer>
			<key>URL</key>
			<string>https://i.ytimg.com/vi/WXa6Pm-TU6o/maxresdefault.jpg</string>
		</dict>
		<dict>
			<key>Total</key>
			<string>2.000.000đ</string>
			<key>NameMeal</key>
			<string>Yến sào (Khánh Hòa)</string>
			<key>MealCode</key>
			<integer>1</integer>
			<key>RestaurantCode</key>
			<integer>9</integer>
			<key>URL</key>
			<string>http://cafefcdn.com/thumb_w/650/2017/doisongtieudung-083717-321311955-0-1504752025312.jpg</string>
		</dict>
		<dict>
			<key>Total</key>
			<string>145.000đ</string>
			<key>NameMeal</key>
			<string>Món don (Quảng Ngãi)</string>
			<key>MealCode</key>
			<integer>2</integer>
			<key>RestaurantCode</key>
			<integer>9</integer>
			<key>URL</key>
			<string>http://thuexequangngai.net/wp-content/uploads/don-quang-ngai.jpg</string>
		</dict>
		<dict>
			<key>Total</key>
			<string>165.000đ</string>
			<key>NameMeal</key>
			<string>Cá bống sông Trà</string>
			<key>MealCode</key>
			<integer>3</integer>
			<key>RestaurantCode</key>
			<integer>9</integer>
			<key>URL</key>
			<string>http://quancomcayda.com/uploads/thucdon/2016_05/ca-bong-kho-to.jpg</string>
		</dict>
		<dict>
			<key>Total</key>
			<string>750.000đ</string>
			<key>NameMeal</key>
			<string>Bê thui Cầu Mống</string>
			<key>MealCode</key>
			<integer>1</integer>
			<key>RestaurantCode</key>
			<integer>10</integer>
			<key>URL</key>
			<string>https://images.foody.vn/res/g2/15509/prof/s576x330/foody-mobile-lan-jpg-492-636135906386058964.jpg</string>
		</dict>
		<dict>
			<key>Total</key>
			<string>135.000đ</string>
			<key>NameMeal</key>
			<string>Bánh tráng cuốn thịt lợn 2 đầu da</string>
			<key>MealCode</key>
			<integer>2</integer>
			<key>RestaurantCode</key>
			<integer>10</integer>
			<key>URL</key>
			<string>http://danangsensetravel.com/view/at_cach-che-bien-banh-trang-cuon-thit-heo-da-nang_8231b11297d17e8e5e390ba7fc1d52b9.jpg</string>
		</dict>
		<dict>
			<key>Total</key>
			<string>45.000đ</string>
			<key>NameMeal</key>
			<string>Bánh khoái Huế</string>
			<key>MealCode</key>
			<integer>3</integer>
			<key>RestaurantCode</key>
			<integer>10</integer>
			<key>URL</key>
			<string>https://i.ytimg.com/vi/EcNvTdni9nQ/hqdefault.jpg</string>
		</dict>
	</array>
</dict>
</plist>
