<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Meal</key>
	<array>
		<dict>
			<key>MealCode</key>
			<integer>1</integer>
			<key>NameMeal</key>
			<string></string>
			<key>Total</key>
			<string></string>
			<key>RestaurantCode</key>
			<integer>0</integer>
			<key>URL</key>
			<string></string>
		</dict>
		<dict>
			<key>MealCode</key>
			<integer>2</integer>
			<key>NameMeal</key>
			<string></string>
			<key>Total</key>
			<string></string>
			<key>RestaurantCode</key>
			<integer>0</integer>
			<key>URL</key>
			<string></string>
		</dict>
		<dict>
			<key>MealCode</key>
			<integer>3</integer>
			<key>NameMeal</key>
			<string></string>
			<key>Total</key>
			<string></string>
			<key>RestaurantCode</key>
			<integer>0</integer>
			<key>URL</key>
			<string></string>
		</dict>
		<dict>
			<key>Total</key>
			<string></string>
			<key>NameMeal</key>
			<string></string>
			<key>MealCode</key>
			<integer>1</integer>
			<key>RestaurantCode</key>
			<integer>1</integer>
			<key>URL</key>
			<string></string>
		</dict>
		<dict>
			<key>Total</key>
			<string></string>
			<key>NameMeal</key>
			<string></string>
			<key>MealCode</key>
			<integer>2</integer>
			<key>RestaurantCode</key>
			<integer>1</integer>
			<key>URL</key>
			<string></string>
		</dict>
		<dict>
			<key>Total</key>
			<string></string>
			<key>NameMeal</key>
			<string></string>
			<key>MealCode</key>
			<integer>3</integer>
			<key>RestaurantCode</key>
			<integer>1</integer>
			<key>URL</key>
			<string></string>
		</dict>
		<dict>
			<key>Total</key>
			<string></string>
			<key>NameMeal</key>
			<string></string>
			<key>MealCode</key>
			<integer>1</integer>
			<key>RestaurantCode</key>
			<integer>2</integer>
			<key>URL</key>
			<string></string>
		</dict>
		<dict>
			<key>Total</key>
			<string></string>
			<key>NameMeal</key>
			<string></string>
			<key>MealCode</key>
			<integer>2</integer>
			<key>RestaurantCode</key>
			<integer>2</integer>
			<key>URL</key>
			<string></string>
		</dict>
		<dict>
			<key>Total</key>
			<string></string>
			<key>NameMeal</key>
			<string></string>
			<key>MealCode</key>
			<integer>3</integer>
			<key>RestaurantCode</key>
			<integer>2</integer>
			<key>URL</key>
			<string></string>
		</dict>
		<dict>
			<key>Total</key>
			<string></string>
			<key>NameMeal</key>
			<string></string>
			<key>MealCode</key>
			<integer>1</integer>
			<key>RestaurantCode</key>
			<integer>3</integer>
			<key>URL</key>
			<string></string>
		</dict>
		<dict>
			<key>Total</key>
			<string></string>
			<key>NameMeal</key>
			<string></string>
			<key>MealCode</key>
			<integer>2</integer>
			<key>RestaurantCode</key>
			<integer>3</integer>
			<key>URL</key>
			<string></string>
		</dict>
		<dict>
			<key>Total</key>
			<string></string>
			<key>NameMeal</key>
			<string></string>
			<key>MealCode</key>
			<integer>3</integer>
			<key>RestaurantCode</key>
			<integer>3</integer>
			<key>URL</key>
			<string></string>
		</dict>
		<dict>
			<key>Total</key>
			<string></string>
			<key>NameMeal</key>
			<string></string>
			<key>MealCode</key>
			<integer>1</integer>
			<key>RestaurantCode</key>
			<integer>4</integer>
			<key>URL</key>
			<string></string>
		</dict>
		<dict>
			<key>Total</key>
			<string></string>
			<key>NameMeal</key>
			<string></string>
			<key>MealCode</key>
			<integer>2</integer>
			<key>RestaurantCode</key>
			<integer>4</integer>
			<key>URL</key>
			<string></string>
		</dict>
		<dict>
			<key>Total</key>
			<string></string>
			<key>NameMeal</key>
			<string></string>
			<key>MealCode</key>
			<integer>3</integer>
			<key>RestaurantCode</key>
			<integer>4</integer>
			<key>URL</key>
			<string></string>
		</dict>
		<dict>
			<key>Total</key>
			<string></string>
			<key>NameMeal</key>
			<string></string>
			<key>MealCode</key>
			<integer>1</integer>
			<key>RestaurantCode</key>
			<integer>5</integer>
			<key>URL</key>
			<string></string>
		</dict>
		<dict>
			<key>Total</key>
			<string></string>
			<key>NameMeal</key>
			<string></string>
			<key>MealCode</key>
			<integer>2</integer>
			<key>RestaurantCode</key>
			<integer>5</integer>
			<key>URL</key>
			<string></string>
		</dict>
		<dict>
			<key>Total</key>
			<string></string>
			<key>NameMeal</key>
			<string></string>
			<key>MealCode</key>
			<integer>3</integer>
			<key>RestaurantCode</key>
			<integer>5</integer>
			<key>URL</key>
			<string></string>
		</dict>
		<dict>
			<key>Total</key>
			<string></string>
			<key>NameMeal</key>
			<string></string>
			<key>MealCode</key>
			<integer>1</integer>
			<key>RestaurantCode</key>
			<integer>6</integer>
			<key>URL</key>
			<string></string>
		</dict>
		<dict>
			<key>Total</key>
			<string></string>
			<key>NameMeal</key>
			<string></string>
			<key>MealCode</key>
			<integer>2</integer>
			<key>RestaurantCode</key>
			<integer>6</integer>
			<key>URL</key>
			<string></string>
		</dict>
		<dict>
			<key>Total</key>
			<string></string>
			<key>NameMeal</key>
			<string></string>
			<key>MealCode</key>
			<integer>3</integer>
			<key>RestaurantCode</key>
			<integer>6</integer>
			<key>URL</key>
			<string></string>
		</dict>
		<dict>
			<key>Total</key>
			<string></string>
			<key>NameMeal</key>
			<string></string>
			<key>MealCode</key>
			<integer>1</integer>
			<key>RestaurantCode</key>
			<integer>7</integer>
			<key>URL</key>
			<string></string>
		</dict>
		<dict>
			<key>Total</key>
			<string></string>
			<key>NameMeal</key>
			<string></string>
			<key>MealCode</key>
			<integer>2</integer>
			<key>RestaurantCode</key>
			<integer>7</integer>
			<key>URL</key>
			<string></string>
		</dict>
		<dict>
			<key>Total</key>
			<string></string>
			<key>NameMeal</key>
			<string></string>
			<key>MealCode</key>
			<integer>3</integer>
			<key>RestaurantCode</key>
			<integer>7</integer>
			<key>URL</key>
			<string></string>
		</dict>
		<dict>
			<key>Total</key>
			<string></string>
			<key>NameMeal</key>
			<string></string>
			<key>MealCode</key>
			<integer>1</integer>
			<key>RestaurantCode</key>
			<integer>8</integer>
			<key>URL</key>
			<string></string>
		</dict>
		<dict>
			<key>Total</key>
			<string></string>
			<key>NameMeal</key>
			<string></string>
			<key>MealCode</key>
			<integer>2</integer>
			<key>RestaurantCode</key>
			<integer>8</integer>
			<key>URL</key>
			<string></string>
		</dict>
		<dict>
			<key>Total</key>
			<string></string>
			<key>NameMeal</key>
			<string></string>
			<key>MealCode</key>
			<integer>3</integer>
			<key>RestaurantCode</key>
			<integer>8</integer>
			<key>URL</key>
			<string></string>
		</dict>
		<dict>
			<key>Total</key>
			<string></string>
			<key>NameMeal</key>
			<string></string>
			<key>MealCode</key>
			<integer>1</integer>
			<key>RestaurantCode</key>
			<integer>9</integer>
			<key>URL</key>
			<string></string>
		</dict>
		<dict>
			<key>Total</key>
			<string></string>
			<key>NameMeal</key>
			<string></string>
			<key>MealCode</key>
			<integer>2</integer>
			<key>RestaurantCode</key>
			<integer>9</integer>
			<key>URL</key>
			<string></string>
		</dict>
		<dict>
			<key>Total</key>
			<string></string>
			<key>NameMeal</key>
			<string></string>
			<key>MealCode</key>
			<integer>3</integer>
			<key>RestaurantCode</key>
			<integer>9</integer>
			<key>URL</key>
			<string></string>
		</dict>
		<dict>
			<key>Total</key>
			<string></string>
			<key>NameMeal</key>
			<string></string>
			<key>MealCode</key>
			<integer>1</integer>
			<key>RestaurantCode</key>
			<integer>10</integer>
			<key>URL</key>
			<string></string>
		</dict>
		<dict>
			<key>Total</key>
			<string></string>
			<key>NameMeal</key>
			<string></string>
			<key>MealCode</key>
			<integer>2</integer>
			<key>RestaurantCode</key>
			<integer>10</integer>
			<key>URL</key>
			<string></string>
		</dict>
		<dict>
			<key>Total</key>
			<string></string>
			<key>NameMeal</key>
			<string></string>
			<key>MealCode</key>
			<integer>3</integer>
			<key>RestaurantCode</key>
			<integer>10</integer>
			<key>URL</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
