<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Restaurants</key>
	<array>
		<dict>
			<key>RestaurantCode</key>
			<string>0</string>
			<key>NameRestaurant</key>
			<string>Quan Cau</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<string>1</string>
			<key>NameRestaurant</key>
			<string>Quan Cau</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<string>2</string>
			<key>NameRestaurant</key>
			<string>Quan Cau</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<string>3</string>
			<key>NameRestaurant</key>
			<string>Quan Cau</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<string>4</string>
			<key>NameRestaurant</key>
			<string>Quan Cau</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<string>5</string>
			<key>NameRestaurant</key>
			<string>Quan Cau</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<string>6</string>
			<key>NameRestaurant</key>
			<string>Quan Cau</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<string>7</string>
			<key>NameRestaurant</key>
			<string>Quan Cau</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<string>8</string>
			<key>NameRestaurant</key>
			<string>Quan Cau</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<string>9</string>
			<key>NameRestaurant</key>
			<string>Quan Cau</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<string>10</string>
			<key>NameRestaurant</key>
			<string>Quan Cau</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<string>11</string>
			<key>NameRestaurant</key>
			<string>Quan Cau</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<string>12</string>
			<key>NameRestaurant</key>
			<string>Quan Cau</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<string>13</string>
			<key>NameRestaurant</key>
			<string>Quan Cau</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<string>14</string>
			<key>NameRestaurant</key>
			<string>Quan Cau</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<string>15</string>
			<key>NameRestaurant</key>
			<string>Quan Cau</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<string>16</string>
			<key>NameRestaurant</key>
			<string>Quan Cau</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<string>17</string>
			<key>NameRestaurant</key>
			<string>Quan Cau</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<string>18</string>
			<key>NameRestaurant</key>
			<string>Quan Cau</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<string>18</string>
			<key>NameRestaurant</key>
			<string>Quan Cau</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<string>18</string>
			<key>NameRestaurant</key>
			<string>Quan Cau</string>
		</dict>
	</array>
</dict>
</plist>
