<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Restaurants</key>
	<array>
		<dict>
			<key>RestaurantCode</key>
			<integer>0</integer>
			<key>NameRestaurant</key>
			<string>Red Bean Restaurant</string>
			<key>URL</key>
			<string>https://images.foody.vn/res/g20/197388/prof/s576x330/foody-upload-api-foody-mobile-red-bean-5-jpg-180428104801.jpg</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<integer>1</integer>
			<key>NameRestaurant</key>
			<string>Old Hanoi Restaurant</string>
			<key>URL</key>
			<string>https://www.restaurants-in-vietnam.com/wp-content/uploads/2011/06/Old-Hanoi-Restaurant2.jpg</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<integer>2</integer>
			<key>NameRestaurant</key>
			<string>Ngon Villa Restaurant</string>
			<key>URL</key>
			<string>http://vinadaytravel.com/wp-content/uploads/2016/07/ngon-villa.jpg</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<integer>3</integer>
			<key>NameRestaurant</key>
			<string>HOME Hà Nội</string>
			<key>URL</key>
			<string>http://1.bp.blogspot.com/-ok2vsuwW37U/VkWMPaixI-I/AAAAAAAAAD0/4f1ojoOyUz0/s1600/Villa%2BHome-am-thuc-co-ha-noi.jpg</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<integer>4</integer>
			<key>NameRestaurant</key>
			<string>Bánh Mì 25
Madame Hiền</string>
			<key>URL</key>
			<string>https://media-cdn.tripadvisor.com/media/photo-s/0b/3d/ab/15/banh-mi-25-chu-n.jpg</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<integer>5</integer>
			<key>NameRestaurant</key>
			<string>Bún Chả Ta Hà Nội</string>
			<key>URL</key>
			<string>https://dantricdn.com/k:8c1d066f19/2016/05/27/bun-cha-obama-2-1464330524866/quan-bun-cha-se-khong-doi-ten-thanh-quan-obama.JPG</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<integer>6</integer>
			<key>NameRestaurant</key>
			<string>Sofitel Legend Metropole Hanoi
Seasons Restaurant Hanoi
Seasons Restaurant Hanoi
Seasons Restaurant Hanoi
Seasons Restaurant Hanoi
Seasons Restaurant Hanoi
Seasons Restaurant Hanoi</string>
			<key>URL</key>
			<string>http://www.ahstatic.com/photos/1555_ba_01_p_1024x768.jpg</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<integer>7</integer>
			<key>NameRestaurant</key>
			<string>Restaurant Bun Bo Nam Bo
RESTAURANT BUN BO NAM BO
RESTAURANT BUN BO NAM BO</string>
			<key>URL</key>
			<string>https://media-cdn.tripadvisor.com/media/photo-s/08/ba/22/b3/bun-bo-nam-bo.jpg</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<integer>8</integer>
			<key>NameRestaurant</key>
			<string>Quan Cau</string>
			<key>URL</key>
			<string>http://www.dendau.vn/custom/photolisting3/fullsize/listing_37109/201311071622414vVs5NzC.jpg</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<integer>9</integer>
			<key>NameRestaurant</key>
			<string>Gia Ngu Restaurant</string>
			<key>URL</key>
			<string>https://media-cdn.tripadvisor.com/media/photo-s/06/9e/9a/45/getlstd-property-photo.jpg</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<integer>10</integer>
			<key>NameRestaurant</key>
			<string>Koto Restaurant</string>
			<key>URL</key>
			<string>https://www.restaurants-in-vietnam.com/wp-content/uploads/2016/03/koto-4.jpg</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<integer>0</integer>
			<key>NameRestaurant</key>
			<string>Red Bean Restaurant</string>
			<key>URL</key>
			<string>https://images.foody.vn/res/g20/197388/prof/s576x330/foody-upload-api-foody-mobile-red-bean-5-jpg-180428104801.jpg</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<integer>1</integer>
			<key>NameRestaurant</key>
			<string>Old Hanoi Restaurant</string>
			<key>URL</key>
			<string>https://www.restaurants-in-vietnam.com/wp-content/uploads/2011/06/Old-Hanoi-Restaurant2.jpg</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<integer>2</integer>
			<key>NameRestaurant</key>
			<string>Ngon Villa Restaurant</string>
			<key>URL</key>
			<string>http://vinadaytravel.com/wp-content/uploads/2016/07/ngon-villa.jpg</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<integer>3</integer>
			<key>NameRestaurant</key>
			<string>HOME Hà Nội</string>
			<key>URL</key>
			<string>http://1.bp.blogspot.com/-ok2vsuwW37U/VkWMPaixI-I/AAAAAAAAAD0/4f1ojoOyUz0/s1600/Villa%2BHome-am-thuc-co-ha-noi.jpg</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<integer>4</integer>
			<key>NameRestaurant</key>
			<string>Bánh Mì 25
Madame Hiền</string>
			<key>URL</key>
			<string>https://media-cdn.tripadvisor.com/media/photo-s/0b/3d/ab/15/banh-mi-25-chu-n.jpg</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<integer>5</integer>
			<key>NameRestaurant</key>
			<string>Bún Chả Ta Hà Nội</string>
			<key>URL</key>
			<string>https://dantricdn.com/k:8c1d066f19/2016/05/27/bun-cha-obama-2-1464330524866/quan-bun-cha-se-khong-doi-ten-thanh-quan-obama.JPG</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<integer>6</integer>
			<key>NameRestaurant</key>
			<string>Sofitel Legend Metropole Hanoi
Seasons Restaurant Hanoi
Seasons Restaurant Hanoi
Seasons Restaurant Hanoi
Seasons Restaurant Hanoi
Seasons Restaurant Hanoi
Seasons Restaurant Hanoi</string>
			<key>URL</key>
			<string>http://www.ahstatic.com/photos/1555_ba_01_p_1024x768.jpg</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<integer>7</integer>
			<key>NameRestaurant</key>
			<string>Restaurant Bun Bo Nam Bo
RESTAURANT BUN BO NAM BO
RESTAURANT BUN BO NAM BO</string>
			<key>URL</key>
			<string>https://media-cdn.tripadvisor.com/media/photo-s/08/ba/22/b3/bun-bo-nam-bo.jpg</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<integer>8</integer>
			<key>NameRestaurant</key>
			<string>Quan Cau</string>
			<key>URL</key>
			<string>http://www.dendau.vn/custom/photolisting3/fullsize/listing_37109/201311071622414vVs5NzC.jpg</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<integer>9</integer>
			<key>NameRestaurant</key>
			<string>Gia Ngu Restaurant</string>
			<key>URL</key>
			<string>https://media-cdn.tripadvisor.com/media/photo-s/06/9e/9a/45/getlstd-property-photo.jpg</string>
		</dict>
		<dict>
			<key>RestaurantCode</key>
			<integer>10</integer>
			<key>NameRestaurant</key>
			<string>Koto Restaurant</string>
			<key>URL</key>
			<string>https://www.restaurants-in-vietnam.com/wp-content/uploads/2016/03/koto-4.jpg</string>
		</dict>
	</array>
</dict>
</plist>
