<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Restaurants</key>
	<array>
		<dict>
			<key>photo</key>
			<string>res0</string>
			<key>Properties</key>
			<string>Quốc Tế</string>
			<key>Time</key>
			<string>8:00-22:00</string>
			<key>Adress</key>
			<string>94 Mã Mây, Hàng Buồm, Hoàn Kiếm, Hà Nội</string>
			<key>RestaurantCode</key>
			<integer>0</integer>
			<key>NameRestaurant</key>
			<string>Red Bean Restaurant</string>
		</dict>
		<dict>
			<key>photo</key>
			<string>res1</string>
			<key>Properties</key>
			<string>Việt Nam</string>
			<key>Time</key>
			<string>7:00-24:00</string>
			<key>Adress</key>
			<string>4 Phố Tôn Thất Thiệp, Điện Bàn, Ba Đình, Điện Bàn Ba Đình Hà Nội</string>
			<key>RestaurantCode</key>
			<integer>1</integer>
			<key>NameRestaurant</key>
			<string>Old Hanoi Restaurant</string>
		</dict>
		<dict>
			<key>photo</key>
			<string>res2</string>
			<key>Properties</key>
			<string>Việt Nam</string>
			<key>Time</key>
			<string>8:00-22:00</string>
			<key>Adress</key>
			<string> 10 Tống Duy Tân, Hàng Bông, Hoàn Kiếm, Hà Nội </string>
			<key>RestaurantCode</key>
			<integer>2</integer>
			<key>NameRestaurant</key>
			<string>Ngon Villa Restaurant</string>
		</dict>
		<dict>
			<key>photo</key>
			<string>res3</string>
			<key>Properties</key>
			<string>Quốc Tế</string>
			<key>Time</key>
			<string>7:00-24:00</string>
			<key>Adress</key>
			<string>34 Châu Long, Trúc Bạch, Ba Đình, Hà Nội</string>
			<key>RestaurantCode</key>
			<integer>3</integer>
			<key>NameRestaurant</key>
			<string>HOME Hà Nội</string>
		</dict>
		<dict>
			<key>photo</key>
			<string>res4</string>
			<key>Properties</key>
			<string>Việt Nam</string>
			<key>Time</key>
			<string>7:00-24:00</string>
			<key>Adress</key>
			<string>25 Hàng Cá, Hàng Bồ, Hoàn Kiếm, Hà Nội</string>
			<key>RestaurantCode</key>
			<integer>4</integer>
			<key>NameRestaurant</key>
			<string>Bánh Mì 25
Madame Hiền</string>
		</dict>
		<dict>
			<key>photo</key>
			<string>res5</string>
			<key>Properties</key>
			<string>Việt Nam</string>
			<key>Time</key>
			<string>7:00-24:00</string>
			<key>Adress</key>
			<string>21 Nguyễn Hữu Huân, Lý Thái Tổ, Hoàn Kiếm, Hà Nội</string>
			<key>RestaurantCode</key>
			<integer>5</integer>
			<key>NameRestaurant</key>
			<string>Bún Chả Ta Hà Nội</string>
		</dict>
		<dict>
			<key>photo</key>
			<string>res6</string>
			<key>Properties</key>
			<string>Quốc Tế</string>
			<key>Time</key>
			<string>8:00-22:00</string>
			<key>Adress</key>
			<string>95B Quán Thánh, Hoàn Kiếm, Hà Nội</string>
			<key>RestaurantCode</key>
			<integer>6</integer>
			<key>NameRestaurant</key>
			<string>Sofitel Legend Metropole Hanoi
Seasons Restaurant Hanoi
Seasons Restaurant Hanoi
Seasons Restaurant Hanoi
Seasons Restaurant Hanoi
Seasons Restaurant Hanoi
Seasons Restaurant Hanoi</string>
		</dict>
		<dict>
			<key>photo</key>
			<string>res7</string>
			<key>Properties</key>
			<string>Việt Nam</string>
			<key>Time</key>
			<string>7:00-24:00</string>
			<key>Adress</key>
			<string>12-76 Hàng Điếu, Hàng Gai, Hoàn Kiếm, Hà Nội</string>
			<key>RestaurantCode</key>
			<integer>7</integer>
			<key>NameRestaurant</key>
			<string>Restaurant Bun Bo Nam Bo
RESTAURANT BUN BO NAM BO
RESTAURANT BUN BO NAM BO</string>
		</dict>
		<dict>
			<key>photo</key>
			<string>res8</string>
			<key>Properties</key>
			<string>Việt Nam</string>
			<key>Time</key>
			<string>7:00-24:00</string>
			<key>Adress</key>
			<string>124,Lê Đức Thọ,Mỹ Đình,Hà Nội</string>
			<key>RestaurantCode</key>
			<integer>8</integer>
			<key>NameRestaurant</key>
			<string>Quan Cau</string>
		</dict>
		<dict>
			<key>photo</key>
			<string>res9</string>
			<key>Properties</key>
			<string>Việt Nam</string>
			<key>Time</key>
			<string>7:00-24:00</string>
			<key>Adress</key>
			<string>27-29 Gia Ngu, Old Quarter, Hoan Kiem District, Hà Nội</string>
			<key>RestaurantCode</key>
			<integer>9</integer>
			<key>NameRestaurant</key>
			<string>Gia Ngu Restaurant</string>
		</dict>
		<dict>
			<key>photo</key>
			<string>res10</string>
			<key>Properties</key>
			<string>Quốc Tế</string>
			<key>Time</key>
			<string>8:00-22:00</string>
			<key>Adress</key>
			<string>59 Văn Miếu, Đống Đa, Hà Nội</string>
			<key>RestaurantCode</key>
			<integer>10</integer>
			<key>NameRestaurant</key>
			<string>Koto Restaurant</string>
		</dict>
	</array>
</dict>
</plist>
